body {
  background-color: grey;
}
h1 {
  font-family:serif;
}
.content {
  height: 200px;
  width: 100%;
  background-color: yellow;
}
.content {
  border: 2px solid green;
  border-radius: 25px;
  width: 100%;
  font-size: 20px;
}
.content:hover {
  background-color: red;
  display: flex;
  width: 50%;
}

.content:nth-child(even) {
  background: blue;
}

#div-to-hover-child:hover {
  background-color: pink;
  display: flex;
  width: 80%;
}
